
*{
    font-family: var(--font-main);
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}
.container-nav{
    display: flex;
    gap:20px;
}
.menu{
    display: none;
}
#checked{
    width: 30px;
}
#checked:checked ~ .menu{
    display: flex;
}
nav{
    gap:20px;
}
nav a{
    color:black;
}
.text-decoration-none{
    text-decoration: none;
}
.list-type-none{
    list-style-type: none;
}
nav a:hover{
    color:white;
}
.content{
    margin-top: 100px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}